/* 기존 스타일 */
.rchr-search-box {
  width: 90%; /* 부모 요소 너비의 90%로 설정 */
  max-width: 364px; /* 데스크탑에서 최대 너비 제한 */
  height: 56px;
  max-height: 56px; /* 최대 높이 제한 */
  border-radius: 16px;
  border: 2px solid black;
  background: white;

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px; /* 내부 여백 추가 */
  box-sizing: border-box; /* 패딩을 포함하여 크기 계산 */
}

.rchr-search-box.inactive {
  display: none;
}

.search-box {
  width: 100%;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
}

/* 추가 스타일 */
.search-box input {
  width: 100%;
  height: 100%;
  border: none; /* 기본 보더 제거 */
  outline: none; /* 포커스 시 생기는 기본 외곽선 제거 */
  font-size: 16px; /* 필요에 따라 글씨 크기 조정 */
  padding: 4px; /* 모바일에서 여유로운 입력 공간 */
  box-sizing: border-box; /* 패딩을 포함하여 크기 계산 */
}

/* 모바일 환경에 맞춘 스타일 */
@media screen and (max-width: 961px) {
  .rchr-search-box {
    width: 90vw; /* 모바일에서 화면 너비에 맞춤 */
    height: 48px; /* 모바일에서 높이를 살짝 줄임 */
    max-width: 320px; /* 모바일에서 최대 너비 제한 */
    border-radius: 12px; /* 모바일에서 둥근 모서리 크기 조정 */
    padding: 6px; /* 모바일에서 내부 여백 조정 */
  }

  .search-box input {
    font-size: 14px; /* 모바일에서 글씨 크기 조정 */
    padding: 2px; /* 모바일에서 입력란 내부 패딩 감소 */
  }
}
